body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;

}

background-color{
    Gainsboro 
}

img {
  height:300px;
  width:300px;

}

#d01 a {
  padding: 10px 15px;
  background-color: orange;
}

#d01 a:link, a:visited {
   text-decoration: none;
  background-color: LightGray
  
  
}

#d01 a:hover {
  background-color: navy;
  color: white;
  
}

table, th, td {
   border: 1px solid black;

}

table {
    width: 80%;
}

th {
    height: 150px;
  
}

td {
  height: 300px;
    
}


