body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;

}

img {
  height:400px;
  width:400px;

}

#d01 a {
  padding: 10px 15px;
  background-color: orange;
}

#d01 a:link, a:visited {
   text-decoration: none; 
  
  
}

#d01 a:hover {
  background-color: navy;
  color: white;
}

table, th, td {
   border: 1px solid black;

}

table {
    width: 75%;
}

th {
    height: 100px;
  
}

td {
  height: 250px;
    
}


