body {
  font-family: "Courier New", Courier, monospace;
  text-alignment: center;

}

img {
  height:400px;
  width:400px;

}

background {
  color:#E6E6FA
  
}

#d01 a:link, a:visited {
   text-decoration: none; 
  
}

#d01 a:hover {
  
  
}
